body{
    font-family:Arial, Helvetica, sans-serif;
}
table tr:first-child td{
    border-top:0;
}
table tr:last-child td{
    border-bottom:0;
}
table tr td:first-child{
    border-left:0;
}
table tr td:last-child{
    border-right:0;
}
table{
    border-collapse: collapse;
    margin:20px auto 20px;
}
td{
    border: 2px solid black;    
    height:100px;
    width:100px;
    font-size:50px;
    font-family:cursive;
    text-align:center;
    vertical-align:middle;
    cursor: pointer;
}

.text{
    display:none;
    text-align:center;
    vertical-align: middle;
    font-size:50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}